<h1>Detalles de {{title}}</h1>
<hr>
<p>Autor/a: {{author}}</p>
<p>Descripción: {{description}}</p>
<p>Puntuación: {{rating}}/10</p>
<hr>
<a href="/libros/lista" class="btn btn-dark btn-sm">Volver a los libros</a>